@charset "EUC-KR";
	*{
	    margin: 0;
	    padding: 0;
	    box-sizing: border-box;
  	 }
  	 #writingBody{
  	 	border: 1px solid hotpink;
    	min-height: 800px;
    	background-color: #f8f8f8;
  	 }
  	 
  	 /* boxMD 밑으로 */
  	 .title{
  	 	width: 100%;
    	height: 40px;
    	line-height: 40px;
    	padding: 0 10px;
    	color: #2f2f2f;
    	font-size: 16px;
    	border: 1px solid gainsboro;
    	background-color: white;
    	margin: 0px 0px 10px 0px;
  	 }
  	 .font{
  	 	width: 100%;
    	margin : 5px;
    	color: #3fa6d2;
    	font-size: 15px;
  	 }
  	 
  	 .fileList{
  	 	margin: 0px;
    	padding: 15px 5px 0px 10px;
    	font-size: 12px;
    	background-color: rgb(235, 233, 179);
    	display: block;
    	border: 1px solid gainsboro;
    	position: relative;
  	 }
  	 .fileBox{
  	 	width: 100%;
    	margin: 20px auto 0 auto;
    	position: relative;
    	text-align: center;
  	 }
  	 .addFile{
  	 	color: #fff;
    	background-color: #288fb4;
    	border-color: #288fb4;
    	display: inline-block;
    	padding: .5em .75em;
    	font-size: inherit;
    	line-height: normal;
    	vertical-align: middle;
    	cursor: pointer;
    	border: 1px solid #ebebeb;
    	border-radius: .25em;
  	 
  	 }
  	 .subType{
  	    width: 100%;
    	margin-bottom: 20px;
   	 	overflow: hidden;
  	 }
  	 .subType ul li{
  	    border: 1px solid gainsboro;
    	border-radius: 10px;
    	padding: 20px;
    	float: left;
    	width: 48%;
    	margin: 1%;
    	min-height: 240px;
	 }
	 
	 .subTypeImg{
	 	width: 100px;
    	height: 100px;
    	margin : 0 auto;
    	background-size: 100px auto;
    	border-radius: 100%;
    	overflow: hidden;
   	 	background-repeat: no-repeat;
   	 	background-image: url("https://idea.epeople.go.kr/img/poll_type.png");
	 }
	 .img1{
	 	background-color: #7ac5e5;
    	background-position: 0 0;
	 }
	 .img2{
	 	background-color: #2569b0;
    	background-position: 0 -200px;
	 }
	 .ttl{
	 	text-align: center;
	    margin-top: 10px;
    	font-size: 18px;
    	color: #2f2f2f;
	 }
	 .checkIcon{
	 	width: 25px;
    	height: 25px;
   	 	display: inline-block;
    	margin-right: 5px;
    	vertical-align: middle;
	 }
	 
	 .subType ul li p{
	 	text-align: center;
	    font-size: 14px;
    	color: #666666;
    	margin-top: 10px;
    	line-height: 1.3em;
	 }
	 .forTypeCheck{
	 	cursor: pointer;
    	position: relative;
    	width: 25px;
    	height: 25px;
    	display: inline-block;
    	border-radius: 100%;
    	background-color: #e5e5e5;
    	text-align: center;
	 }
	 .forTypeCheck i{
	    font-size: 15px;
    	color: white;
    	line-height: 25px;
    	position: absolute;
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	
	 }
	
	/* 서브타입 VS형 */
	.typeVS{
		width: 100%;
    	margin-top: 5px;
    	margin-bottom: 20px;
    	border: 1px solid gainsboro;
    	border-radius: 10px;
    	padding: 10px 20px 10px 20px;
    	position : relative;
    	
	}
	.typeVS-text{
		border-top: 1px solid gainsboro;
    	margin-top: 20px;
    	position: relative;
    	border-bottom: 1px solid gainsboro;
	}
	.text{
		width: 100%;
    	height: 40px;
    	line-height: 40px;
    	padding: 0 10px;
    	color: #2f2f2f;
    	font-size: 16px;
    	border: 1px solid gainsboro;
    	background-color: white;
    	margin: 0px 0px 5px 0px;
	}
	
	.iconVS{
	    width: 40px;
	    height: 40px;
	    border-radius: 100%;
	    background-color: #2f2f2f;
	    overflow: hidden;
	    text-align: center;
	    color: white;
	    font-size: 14px;
	    display: inline-block;
	    line-height: 40px;
	    position: absolute;
	    top: 54%;
	    left: 50%;
	    margin: -20px 0 0 -20px;
	    font-weight: 600;
	
	}
	/* 서브타입 설문형 */
	.surInfo{
		width: 100%;
    	margin-bottom: 20px;
    	border: 1px solid gainsboro;
    	border-radius: 10px;
    	padding: 20px;
	}
	.emBold{
	    color: #3fa6d2;
    	font-weight: bold;
    	font-style: normal;
	}
	.emText{
	    color: #666666;
	    font-style: normal;
	}
	/* -------------------------------- */
	.QBox{
		width: 100%;
	    margin-top: 5px;
	    border: 1px solid gainsboro;
	    border-radius: 10px;
	    padding: 10px 20px 10px 20px;
	
	}
	.que{
	    width: 100%;
    	padding: 20px 110px 10px 10px;
    	position: relative;
	}
	.redLabel{
		font-size: 12px;
	    color: white;
	    width: 61px;
	    height: 30px;
	    line-height: 30px;
	    display: inline-block;
	    background-color: #ff5f4d;
	    text-align: center;
	    float: left;
	    border-radius: 5px;
	    position: absolute;
	    left: 0;
	    top: 24px;
	}
	.Qtext{
		width: 100%;
	    height: 40px;
	    line-height: 40px;
	    padding: 0 10px;
	    color: #2f2f2f;
	    font-size: 16px;
	    border: 1px solid gainsboro;
	    background-color: white;
	    margin: 0px 0px 5px 0px;
	}
	.QtextDeco{
		width: 100%;
    	margin: 0px 0px 5px 55px;
	}
	
	.QdeleteButton{
		border: 1px solid gainsboro;
	    padding: 5px 5px;
	    background-color: white;
	    font-size: 12px;
	    color: #2f2f2f;
	    display: inline-block;
	    position: absolute;
	    right: 0;
	    top: 22px;
	    cursor: pointer;
	}
	.queTypeBox{
	    width: 100%;
    	padding: 0px 55px 0px 10px;
    	margin: 0px 0px 5px 55px;
	}
	
	
	
	/* queType에 float:left 가 있기때문에 아래 ::after코드가 있어야함 */
	.queTypeBox::after{ 
		clear:both;
		content:"";
		display:block;
	}
	.queType{
		float: left;
   		margin-right: 5px;
    	margin-bottom: 5px;
    	height: 40px;
    	width: 30%;
    	border: 1px solid gainsboro;
    	display: inline-block;
    	cursor: pointer;
    	font-size: 14px;
    	vertical-align: middle;
	}
	.addQueButton{
		border: 1px solid gainsboro;
	    padding: 5px 5px;
	    background-color: white;
	    font-size: 15px;
	    color: #2f2f2f;
	    display: inline-block;
	    cursor: pointer;
	    margin-top: 5px;
	    margin-bottom: 5px;
	    float: right;
	    margin-right: 5%;
	}
	.addButton{
	    width: 100%;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    border: 1px solid gainsboro;
	    border-radius: 10px;
	    padding: 20px;
	    text-align: center;
	    cursor: pointer;
	}
	
	/* 질문 보기란에 관한 css */
	.answerBox{
	    width: 100%;
	    margin-top: 5px;
	    border: 1px solid gainsboro;
	    border-radius: 10px;
	    display: inline-block;
	    padding: 10px 20px 10px 20px;
	
	}
	.answer{
	    width: 100%;
    	padding: 20px 110px 10px 10px;
    	position: relative;
	
	}
	
	
	
	
	
	
	
	
	
	
	/* 하단 입력정보들 */
	.lowInfo{
		width: 100%;
	    position: relative;
	    border-bottom: 1px solid gainsboro;
	    padding: 10px 10px 10px 100px;
	    z-index: 1;
	}
	.lowInfo p{
	    font-size: 18px;
    	color: #2f2f2f;
    	position: absolute;
    	left: 0px;
    	top: -4px;
    	line-height: 70px;
	}
	.lowInfo select{
	    width: 30%;
   	 	height: 40px;
    	border: 1px solid gainsboro;
    	cursor: pointer;
    	margin-bottom: 3px;
    	font-size: 14px;
	}
	.periodSelect{
		width: 120px;
	    height: 40px;
	    line-height: 40px;
	    padding: 0 10px;
	    color: #2f2f2f;
	    border: 1px solid gainsboro;
	    background-color: white;
	    font-size: 14px;
	}
	.sel1{
		display: inline-block;
    	margin-right: 5px;
    	margin-bottom: 5px;
	}
	
	/* 공통부분 클래스로 빼기 */
	.displayNone{
		display : none;
	}
	
	
  	 
  	 
