@charset "EUC-KR";
	*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
     }
 #header{
         border: 1px solid red;
     }
     #headerContents{
        border: 1px solid blue;
        height: 72px;
        margin: 0 auto;
        position: relative;
        max-width: 1050px;
     }
     #logoBox{
         float: left;
         margin-top: 20px;
     }
     #logoBox a{
         text-decoration: none;
     }
     #logoBox a div{
         width: 142px;
         height: 32px;
         border: 1px solid gray;
     }
     #textMenu{
         border: 1px solid green;
         width: 484px;
         position: absolute;
         left: 170px;
         top: 27px;
     }
     #textMenu ul,li{
         list-style: none;   
     }
     #textMenu ul li{
         float: left;
         text-align: center;
         margin-left: 20px;
         text-decoration: none;     
     }
     #imgMenu{
        border: 1px solid green;
         position: absolute;
         right: 20px;
         top: 27px;
     }
     #imgMenu ul li{
         float: left;
         text-align: center;
         margin-right: 10px;
         text-decoration: none;
         
     }
     /* --- */
     
     #searchWrap{
        background-color: darkcyan;
        position: absolute;
        width: 100%;
        height: 1303px;
        top: 75px;
        background-color: brown;
        z-index: 1;
        opacity: 0.7;
        display: none;

    }
    #searchBox{
        background-color: black;
        width: 598px;
        height: 80px;
        position: absolute;
        top: 250px;
        left: 430px;
        z-index: 3;
        display: none;
        
        /*글자css*/
        font-size: 40px;
        color: white;
        text-align: center;
    }
    #searchWrap.fold,
    #searchBox.fold,
    .fold{
        display: block;
    }
    
    #fieldBox{
        background-color: black;
        width: 1050px;
        height: 500px;
        position: absolute;
        top: 100px;
        left: calc((100% - 1050px) / 2);
        z-index: 3;
        padding: 30px;
        display:none;
    
    }
    .field{
        margin: 0 auto;
        border: 1px solid white;
        width: 150px;
        height: 30px;
        float: left;
        
        /* --------------------------------------필드 박스 만들다가 멈춤 */
    }