@charset "EUC-KR";
	*{
	    margin: 0;
	    padding: 0;
	    box-sizing: border-box;
  	}
	.body{
        border: 1px solid black;
        min-height: 800px;
        max-width: 1050px;
        margin: 0 auto;
        
    }
   .loginImg{
        /* border: 1px solid darkgreen; */
        background-color : gray;
        height: 200px;
    }
    .loginBox{
        border: 1px solid navy;
        border-left :none;
        border-right :none;
        max-width: 930px;
        margin: 0 auto;
        width: 500px;
        /* height: 300px; */
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 10px;
    }
    
    .loginTitle{
        border-bottom: 1px solid gray;
    	margin-bottom: 30px;
    	padding-bottom: 10px;
}
    }
    .textBox{
    	border-bottom:2px solid black;
    	margin:3px;
    	margin-bottom:30px;
    }
    #searchInfoBox{
        border: 1px solid #ced4da;
        border-left: none;
        border-right: none;
        margin-top: 30px;
    }
    #searchInfoBox li{
        margin-bottom: 10px;
        color: darkgreen;
    }
    #searchInfoBox span{
        width: 50%;
        margin: 0;
    }
    .searchPw{
    	background-color:gray;
    	z-index:3;
    	opacity: 0.7;
    }
    #sendingBox{
        background-color: darkcyan;
        position: absolute;
        width: 100%;
        height: 93%;
        top: 75px;
        background-color: brown;
        z-index: 1;
        opacity: 0.7;
    }
    #sendingEmailBox{
    	border : 2px solid gray;
    	z-index:2;
    	position: absolute;
    	top: 200px;
    	left:545px;
    	background-color:white;
    	height: 500px;
    	padding: 30px;
    }
    .tmpPwTitle{ 
    	border-bottom :1px solid #ced4da;
    	padding-bottom : 10px;
    	margin-bottom: 20px;
    }
    .displayNone{
    	display:none;
    
    }
    
    
    
    
    
    