@charset "EUC-KR";
	*{
	    margin: 0;
	    padding: 0;
	    box-sizing: border-box;
  	 }
  	 
  	 .intro{
  	 	min-height : 800px;
  	 	background-color : #f6f7fb;
  	 }
  	 .contents{
  	 	min-height: 500px;
  	 	width : 1200px;
  	 	margin : 0 auto;
  	 	background-color: white;
  	 }
  	 