@charset "EUC-KR";
	*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
     }
     
     .body{
     	min-height: 800px;
     	/* border: 1px solid black; */
     	background-color : #f6f7fb;
     }
     .bodyContentsBox{
     	border : 1px solid gray;
     	background-color : white;
     	min-height: 800px;
     	width : 1050px;
     	margin : 0 auto;
     }
     .sortBar{
     	border:1px solid red;
     	height: 60px;
     }
     
     .board{
     	display: inline-block;
    	width: 100%;
    	position: relative;
    	margin-bottom: 50px;
    	padding-bottom: 50px;
    	border-bottom: 1px dashed #ccc;
     }
     .boardBorder{
     	border: 1px solid gray;
     	padding: 10px;
     	position: relative;
     }
     .boardLeft{
     	width: 60%;
     	display: inline-block;
     }
     .titleBox{
     	width: 90%;
     }
     .titleBox h3{
         color: #fff;
    	font-size: 16px;
    	background-color: #1b2259;
    	display: inline-block;
    	padding: 8px 15px;
    	font-weight: 400;
    	margin-bottom: 12px;
    	border-radius: 4px;
     }
     .titleBox h2{
     	font-size: 22px;
    	line-height: 29px;
    	margin-bottom: 15px;
     }
     .stepBox{
     	border: 1px solid gray;
     	border-radius: 20px;
     	color: #767676;
    	text-align: center;
    	display: inline-block;
     	width: 90%;
    	font-size: 13px;
    	margin-bottom: 20px;
    	padding: 10px;
     }
     .step{

     	padding: 0 14px 0 2px;
    	width: 22%;
    	float:left;
     }
     .step p{
     	margin: 0;
     }
     
     /* 게시물 오른쪽 이미지란 */
     .boardRight{
     	position : absolute;
     	height : 80%;
     	border: 3px solid red;
     	width: 38%;
     	display: inline-block;
     	float: right;
     	margin-bottom: 20px;
     	margin-top: 20px;
     }
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     