<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.green.portfolio.dao.BoardDAO">

	<select id="getFieldList" resultType="kr.green.portfolio.vo.FieldVO">
		select * from field
	</select>
	
	<insert id="insertBoard">
		insert into board(boardUserEmail, boardType,boardTitle,boardContents,boardSubtype,answer,boardFieldNum,boardDeadline)
			values(#{boardUserEmail}, #{boardType},#{boardTitle},#{boardContents},#{boardSubtype},#{answer},#{boardFieldNum},#{boardDeadline})
	</insert>

	<select id="getBoardNum" resultType="int">
		select max(boardNum) from board
	</select>
	
	<insert id="insertFile">
		insert into file(fileBoardNum, isMainImg, fileTitle) values(#{fileBoardNum},#{isMainImg},#{fileTitle})	
	</insert>
	
</mapper> 