<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.green.portfolio.dao.BoardDAO">

	<select id="getFieldList" resultType="kr.green.portfolio.vo.FieldVO">
		select * from field
	</select>
	
	<insert id="insertBoard">
		insert into board(boardUserEmail, boardType,boardTitle,boardContents,boardSubtype,answer,boardFieldNum,boardDeadline)
			values(#{boardUserEmail}, #{boardType},#{boardTitle},#{boardContents},#{boardSubtype},#{answer},#{boardFieldNum},#{boardDeadline})
	</insert>
	
	<update id="updateWriteBoardCount">
		update user set writeBoardCount = writeBoardCount+1 where userEmail = #{boardUserEmail}
	</update>

	<select id="getBoardNum" resultType="int">
		select max(boardNum) from board
	</select>
	
	<insert id="insertFile">
		insert into file(fileBoardNum, isMainImg, fileTitle) values(#{fileBoardNum},#{isMainImg},#{fileTitle})	
	</insert>
	
	<insert id="insertVsType">
		insert into vsType(vsTypeBoardNum,yORn,vsContents,totalNum) values(#{vsTypeBoardNum},#{yORn},#{vsContents},#{totalNum})
	</insert>
	
	<select id="getBoardList" resultType="kr.green.portfolio.vo.BoardVO">
		select * from board where display ='Y' order by registrationDate desc;
	</select>
	
	<select id="getBoard" resultType="kr.green.portfolio.vo.BoardVO">
		select * 
		from board 
		join field on board.boardFieldNum = field.fieldNum 
		where boardNum=#{boardNum} and display ='Y';
	</select>
	
	<select id="getSubVS" resultType="kr.green.portfolio.vo.vsTypeVO">
		select * from vstype where vsTypeBoardNum =#{boardNum}
	</select>
	
	<insert id="addSubRes_vs">
		insert into participation(participationUserEmail,boardSubtype,participationVsTypeNum,participationSurveyTypeNum,participationBoardNum)
			values(#{participationUserEmail},#{boardSubtype},#{participationVsTypeNum},#{participationSurveyTypeNum},#{participationBoardNum})	
	</insert>
	
	<update id="updateSubRes_vs">
		update vstype set totalNum = totalNum+1 where vsTypeNum=#{participationVsTypeNum}
	</update>
	
	<update id="updateViewsCount">
		update board set viewsCount = viewsCount+1 where boardNum = #{boardNum}
	</update>
	
	<select id="isParticipation" resultType="kr.green.portfolio.vo.ParticipationVO">
		select * from participation where participationUserEmail=#{userEmail} and participationBoardNum=#{boardNum}
	</select>
	
	<!-- 댓글관련 -->
	<insert id="insertComment">
		insert into comment(commentBoardNum, commentUserEmail, commentContents) values(#{commentBoardNum}, #{commentUserEmail}, #{commentContents})
	</insert>
	
	<update id="updateWriteCommentCount">
		update user set writeCommentCount = writeCommentCount+1 where userEmail = #{commentUserEmail}
	</update>
	
	<select id="getCommentList" resultType="kr.green.portfolio.vo.CommentVO">
		select * from comment where commentBoardNum = #{boardNum} and display="Y" order by registrationDate desc
	</select>
	
	
	<!-- 공감버튼 관련 -->
	<select id="getLike" resultType="kr.green.portfolio.vo.LikeVO">
		select * from portfolio.like where likeBoardNum = #{likeBoardNum} and likeUserEmail = #{likeUserEmail}
	</select>
	
	<insert id="addLike">
		insert into portfolio.like(likeBoardNum, likeUserEmail,isLike) values(#{likeBoardNum}, #{likeUserEmail},#{isLike})
	</insert>
	
	<update id="updateLike">
		update portfolio.like set isLike=#{isLike} where likeNum =#{likeNum}
	</update>
	
	<update id="updateLikesCount">
		update board set likesCount = likesCount+1 where boardNum=#{likeBoardNum}
	</update>
	
	<update id="updateLikesBoardCount">
		update user set likesBoardCount = likesBoardCount+1 where userEmail=#{likeUserEmail}
	</update>
	
	<update id="updateLikesCount2">
		update board set likesCount = likesCount-1 where boardNum=#{likeBoardNum}
	</update>
	
	<update id="updateLikesBoardCount2">
		update user set likesBoardCount = likesBoardCount-1 where userEmail=#{likeUserEmail}
	</update>
	
	
	
	
	
	
	
	
	
	
</mapper> 