<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.green.portfolio.dao.UserDAO">
	
	<select id="getEmail" resultType="String">
		select userEmail from user where userEmail=#{userEmail} and isMember='Y'
	</select>	
	<select id="getUser" resultType="kr.green.portfolio.vo.UserVO">
		select * from user where userEmail=#{userEmail} and isMember='Y'
	</select>
	
	<select id="getConfirmUser" resultType="kr.green.portfolio.vo.UserVO">
		select * from confirm where confirmUserEmail = #{recipient} and isConfirm = 'Y'
	</select>
	
	<insert id="insertUser">
		insert into user(userEmail,userType,userName,userPw,confirmFile,isMember) values(#{userEmail},#{userType},#{userName},#{userPw},#{confirmFile},#{isMember})
	</insert>
	
	<insert id="insertConfirmNum">
		<!-- 이거 insert기능 제대로 동작안함 -->
		insert into confirm(confirmUserEmail, sendingNum) values(#{recipient}, #{sendingNum}) 
	</insert>
	

</mapper>